    <!-- Navigation-->
    <aside class="navigation">
        <nav>
            <ul class="nav luna-nav">
                <li class="nav-category">
                  Company Tracking
                </li>
                <li>
                    <a href="/enterprise">Enterprise</a>
                    <a href="/consumer">Consumer</a>
                    <a href="/healthcare">Healthcare</a>
                    <a href="/growth">Growth Equity</a>
                </li>
                <li class="nav-category">
                  People Tracking
                </li>
                <li>
                    <a href="/people/enterprise">Enterprise</a>
                    <a href="/people/consumer">Consumer</a>
                    <a href="/people/healthcare">Healthcare</a>
                    <a href="/people/growth">Growth Equity</a>
                </li>
                <li class="nav-category">Investor Tracking
                </li>
                <li>
                    <a href="/investors">Peer Investors</a>
                </li>
                <li class="nav-info">
                    <div class="m-t-xs">
                        <span class="c-white"><img src="/favicon.ico" style="width:20px;height:20px;"></span> Data Science
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- End navigation-->
